<%- include("header") -%>

<h2>This is my about me page!</h2>

<p>let have a know moere dhdhjfbyfvhacdchcjhvbkjb,mkc bcldll nclmc kb  hv  dcb ch jud  g bb giuu  guyduyd7</p>




<%- include("footer") -%>
